<div class="card mb-3">
  <div class="card-header">KPIs</div>
  <div class="card-body">
    <div class="row text-center">
      <div class="col">
        <div class="h6 text-muted">Transactions</div>
        <div class="h3">{{ kpi.tx_count }}</div>
      </div>
      <div class="col">
        <div class="h6 text-muted">Percent Flagged</div>
        <div class="h3">{{ kpi.pct_flagged }}</div>
      </div>
      <div class="col">
        <div class="h6 text-muted">Percent Auto Categorised</div>
        <div class="h3">{{ kpi.pct_auto_cat }}</div>
      </div>
    </div>
  </div>
</div>
