name: NeoBank CI

on:
  push:
    branches: [ "main", "week1/**" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -U pip
          pip install -r requirements.txt

      - name: Lint
        run: |
          source .venv/bin/activate
          flake8 .

      - name: Tests (coverage gate)
        run: |
          source .venv/bin/activate
          coverage run -m pytest -q
          coverage report
